# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
code/haskell-json-parser/dist-newstyle/
code/haskell-json-parser/.ghc.environment.x86_64-mingw32-9.0.1
code/haskell-json-parser/.idea

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
